# Binaries
bin/

# Configurations with secrets
config.json
*.env
tsm.env

# SQLite database files
*.db
*.db-shm
*.db-wal

# Temporary build files
init_config.go

# Go specific
vendor/
*.test
*.out
coverage.txt
coverage

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

backups
# Generated UI files
public/index.html
public/assets/
ui/react-proxy.js
ui/react-dom-proxy.js
