[Unit]
Description=Tiny Secrets Manager Server
After=network.target

[Service]
Type=simple
User=tsm
Group=tsm
ExecStart=/usr/local/bin/tiny-secrets-manager /etc/tiny-secrets-manager/config.json
WorkingDirectory=/var/lib/tiny-secrets-manager
Restart=on-failure
RestartSec=5

# Hardening
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
